.mini-box{
    background-color: aquamarine;
}

.square{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: red;
    line-height: 100px;
}

.fzz{
    background-color: yellow;
    color: black;
}

.bzz{
    background-color: red;
    color: black;
}

.fzzbzz{
    background-color: greenyellow;
    color: black;
}